<% provide(:title, "Sign in") %>
<h1>サインイン</h1>


<%= form_for(:user, url: user_session_path) do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "サインイン", class: "btn btn-large btn-primary" %>
    </div>
 
    <p>登録しましたか? <%= link_to "登録フォームへ!", new_user_registration_path %></p>
  </div>
</div>
<% end %>
